@font-face {
  font-family: 'kelson-bold';
  src: url("../fonts/kelson/kelson_sans_bold-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/kelson/kelson_sans_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/kelson/kelson_sans_bold-webfont.woff2") format("woff2"), url("../fonts/kelson/kelson_sans_bold-webfont.woff") format("woff"), url("../fonts/kelson/kelson_sans_bold-webfont.ttf") format("truetype"), url("../fonts/kelson/kelson_sans_bold-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'kelson-light';
  src: url("../fonts/kelson/kelson_sans_regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/kelson/kelson_sans_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/kelson/kelson_sans_regular-webfont.woff2") format("woff2"), url("../fonts/kelson/kelson_sans_regular-webfont.woff") format("woff"), url("../fonts/kelson/kelson_sans_regular-webfont.ttf") format("truetype"), url("../fonts/kelson/kelson_sans_regular-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
* {
  box-sizing: border-box; }

body {
  font-family: 'kelson-light', Arial, sans-serif; }

.home,
.app\.login {
  background-color: #2D2D2D; }

.app\.dashboard\.main,
.app\.dashboard\.profile {
  background-color: #ABABAB; }

#main-title h1 {
  color: #fff;
  text-transform: lowercase;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'kelson-bold'; }

.link {
  padding: 4px 8px;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 2px 0 #ABABAB;
  -moz-box-shadow: 0 1px 2px 0 #ABABAB;
  -ms-box-shadow: 0 1px 2px 0 #ABABAB;
  box-shadow: 0 1px 2px 0 #ABABAB;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
  .link.beige {
    background-color: #e3e0cf;
    color: #2D2D2D; }
  .link.green {
    background-color: #617968;
    color: #fff; }
  .link.grey {
    background-color: #2D2D2D;
    color: #fff; }
  .link:hover {
    background-color: #ABABAB;
    color: #fff;
    text-decoration: none; }

.hidden {
  display: none; }

.error {
  color: #ff0033;
  font-weight: bold; }

.right {
  float: right; }

#signup-form,
#login-form {
  background-color: #ABABAB;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 2px 0 #ABABAB;
  -moz-box-shadow: 0 2px 2px 0 #ABABAB;
  -ms-box-shadow: 0 2px 2px 0 #ABABAB;
  box-shadow: 0 2px 2px 0 #ABABAB;
  padding: 20px; }
  #signup-form label,
  #login-form label {
    xwidth: 40%;
    margin: 16px 15px 10px 0; }
  #signup-form input,
  #login-form input {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    border: none;
    padding: 12px 15px;
    width: 100%; }
  #signup-form input[type="submit"],
  #login-form input[type="submit"] {
    width: auto;
    background-color: #2D2D2D;
    color: #fff; }
  #signup-form label,
  #signup-form input,
  #login-form label,
  #login-form input {
    display: inline-block; }

#login-form {
  margin-top: 10%; }

.not-a-user {
  margin-top: 40px;
  color: #fff; }

.dashboard.navbar {
  background-color: #2D2D2D;
  color: #fff; }
  .dashboard.navbar ul {
    padding: 0;
    list-style: none; }
    .dashboard.navbar ul li {
      text-decoration: none;
      display: inline-block; }
  .dashboard.navbar a {
    color: #fff; }
  .dashboard.navbar .project-title {
    padding-top: 10px; }

/*# sourceMappingURL=style.css.map */
