//Color Scheme:

$green: #617968;
$grey: #2D2D2D; 
$beige: #e3e0cf;
$white: #fff;
$light_grey: #ABABAB;

//Fonts
@font-face {
  font-family: 'kelson-bold';
  src: url('../fonts/kelson/kelson_sans_bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/kelson/kelson_sans_bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/kelson/kelson_sans_bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/kelson/kelson_sans_bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/kelson/kelson_sans_bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/kelson/kelson_sans_bold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'kelson-light';
  src: url('../fonts/kelson/kelson_sans_regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/kelson/kelson_sans_regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/kelson/kelson_sans_regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/kelson/kelson_sans_regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/kelson/kelson_sans_regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/kelson/kelson_sans_regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

//Basic setup
* {
	box-sizing:border-box;
}
body {
	font-family:'kelson-light', Arial, sans-serif; 
}
.home,
.app\.login {
	background-color:$grey;
}
.app\.dashboard {
	background-color:$light_grey;
}

//mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin box-shadow($x, $y, $blur, $spread, $color) {
	-webkit-box-shadow: $x $y $blur $spread $color;
	   -moz-box-shadow: $x $y $blur $spread $color;
		-ms-box-shadow: $x $y $blur $spread $color;
			box-shadow: $x $y $blur $spread $color;
}
@mixin transition($prop, $time, $type) {
	-webkit-transition: $prop $time $type;
	   -moz-transition: $prop $time $type;
	    -ms-transition: $prop $time $type;
	        transition: $prop $time $type;
}

//Reusable styles:
#main-title h1 {
	color:$white;
	text-transform: lowercase;
	text-align: center;
	margin-bottom:20px;
	font-family:'kelson-bold';
}

.link {
	padding:4px 8px;
	text-decoration: none;
	@include border-radius(10px);
	@include box-shadow(0, 1px, 2px, 0, $light_grey);
	@include transition(all, 0.2s, ease-in);
	&.beige {
		background-color:$beige;
		color:$grey;		
	}
	&.green {
		background-color:$green;
		color:$white;		
	}
	&.grey {
		background-color:$grey;
		color:$white;
	}	
	&:hover {
		background-color:$light_grey;
		color:$white;
		text-decoration: none;
	}	
}

.hidden {
  display: none; 
}

.error {
	color:#ff0033;
	font-weight:bold;
}

.right {
	float:right;
}

// Signup Form, Registration Form
#signup-form,
#login-form {
	background-color: $light_grey;
	@include border-radius(5px);
	@include box-shadow(0, 2px, 2px, 0, $light_grey);	
	padding:20px;	
	label {
		xwidth:40%;
		margin:16px 15px 10px 0;
	}
	input {
		@include border-radius(5px);
		border:none;
		padding:12px 15px;
		width:100%;		
	}
	input[type="submit"] {
		width:auto;
		background-color:$grey;
		color:$white;
	}
	label,
	input {
		display:inline-block;
	}
}

#login-form {
	margin-top:10%;
}

//Registration Page 
.not-a-user {
	margin-top:40px;	
	color:$white;
}

// Dashboard Navbar

.dashboard.navbar {
	background-color:$grey;
	color:$white;
	ul {
		padding:0;
		list-style:none;
		li {
			text-decoration:none;
			display:inline-block;
			a {
				color:$white;
			}
		}
	}
	.project-title {
		padding-top:10px;
	}
}








