<!-- Todo View -->
<div class="container">
	<div class="col-md-12">
		<header id="main-title">
			<h1>Project_Synergy</h1>			
		</header>
		<form ng-submit="login.login(login.credentials)" ng-controller="LoginCtrl" id="login-form" name="login.loginForm" novalidate>			
			<div class="form-group">
				<div class="row">
					<div class="col-md-4">
						<label for="username">Username</label>
					</div>
					<div class="col-md-8">
						<input type="text" placeholder="Username" ng-model="login.credentials.username" name="username"/>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-md-4">
						<label for="password">Password</label>
					</div>
					<div class="col-md-8">
						<input type="password" placeholder="Password" ng-model="login.credentials.password" name="password" />
					</div>
				</div>
			</div>

			<!-- password errors -->
			<div class="error-container" ng-show="login.loginForm.password.$dirty && login.signupForm.password.$invalid">
				<!-- form error cases -->
				<span class="error" ng-show="login.loginForm.password.$error.minlength"> Password must be at least 5 characters in length.</span>
				<span class="error" ng-show="login.loginForm.password.$error.required">Oops! Please enter a password.</span>
			</div>

			<fieldset>
				<input type="submit" value="Login" class="btn"/>
			</fieldset>

			<div ng-show="login.loginFailed === true">Incorrect credentials</div>
			
		</form>

		<div class="not-a-user">
			<p>Not a user? <a ui-sref="signup" class="link beige">Sign up here.</a></p>
		</div>
	</div>
</div>
	

